<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客戶資料</title>
</head>
<body>
    <div>
        <h1>客戶資料</h1>
        <form action="/do_add_user" method="post">
        <table border="1">
            <tr>
                <th>客戶名稱</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>性別</th>
                <td><input type="text" name="sex"></td>
            </tr>
            <tr>
                <th>年齡</th>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>
                <th>信箱</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>提交</th>
                <td><input type="submit" name="submit" value="提交"></td>
            </tr>
        </table>
        </form>
    </div>

</body>
</html>